@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Roboto:400i');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

.intro {
  width: 80% ;
  margin: 0 auto;
  margin-top: 40% ;
  text-align: center; 
}

.intro p {
  font-size: 2vh ;
  font-weight: 300 ;
  margin-bottom: 5vh;
  margin-top: 5vh ;
}

.intro .btn-primary{
  background-color: #4e2026 ；
  background-color: #4e2026 ;
  width: 80% ;
  margin: 0 auto;
}

.Question{
  width: 95% ;
  margin: 0 auto;
  margin-top: 20% ;
  text-align: center;
  color: #4e2026;
}

.Question h3 {
  margin-bottom: 5vh ;
}

.Question label {
  color: black ;
  font-weight: 30; 
  font-family: 'Roboto', sans-serif;
  width: 80%
  margin-left: 10%;
}

#next{
  width: 65% ;
  margin: 0 auto;
  margin-bottom: 4vh; 
}

.Question select {
  width: 90% ;
  margin: 0 auto ;
}


.Question .form-group{
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5vh ;
}

.Question button {
  margin-bottom: 8vh ;
}

.point{
  position: fixed; 
  left: 5% ;
  top: 5%;
}

.title{
    color: #4e2026;
    font-family: 'Sigmar One', cursive;
}

.result1{
  width: 100vw;
  height: 80vh ;
  position: absolute;
  top: 0;
  left: 0 ;
}

.result2{
  width: 100vw;
  height: 80vh ;
  position: absolute;
  top: 70%;
  left: 0 ;
}