<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Freer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-app="myApp">
  <div ng-controller="Controller1" class="Question">
      <h3>Q2. If I have a possible shortcoming in teamwork, it could be that </h3>
      <form>
          <div class="form-group">
          <label for="Select1">A. I am not happy unless meetings are well structured and controlled and generally well conducted</label>
          <select ng-change="change_points()" class="form-control" id="Select1" ng-model="Q1.A" ng-options="i for i in arr_A"  ng-init="Q1.A=arr[0]" ></select> 
          </div>
      
          <div class="form-group">
          <label for="Select2">B. I am usually generous towards others who have a clear viewpoint that has not been
listened to by others </label>
          <select  ng-change="change_points()" class="form-control" id="Select2" ng-model="Q1.B" ng-options="i for i in arr_B"  ng-init="Q1.B=arr[0]">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select3">C. I have a tendency to talk a lot once the group gets on to new ideas. </label>
          <select ng-change="change_points()"  class="form-control" id="Select3" ng-model="Q1.C" ng-options="i for i in arr_C"  ng-init="Q1.C=arr[0]">
             <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select4">D. My critical outlook makes it difficult for me to join in readily and enthusiastically with
colleagues  </label>
          <select ng-change="change_points()"  class="form-control" id="Select4" ng-model="Q1.D" ng-options="i for i in arr_D"  ng-init="Q1.D=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select5">E. I am sometimes seen as forceful and authoritarian if there is a need to get something
done </label>
          <select ng-change="change_points()"  class="form-control" id="Select5" ng-model="Q1.E" ng-options="i for i in arr_E"  ng-init="Q1.E=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select6">F. I find it difficult to lead from the front, perhaps I prefer to be one of the team  </label>
          <select ng-change="change_points()"  class="form-control" id="Select6" ng-model="Q1.F" ng-options="i for i in arr_F"  ng-init="Q1.F=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select7">G. I generally get caught up in ideas that occur to me and as a result lose track of what is
happening   </label>
          <select ng-change="change_points()"  class="form-control" id="Select7" ng-model="Q1.G" ng-options="i for i in arr_G"  ng-init="Q1.G=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select8">H. My colleagues see me as a person who worries unnecessarily over detailsl and the
possibility that things may go wrong </label>
          <select ng-change="change_points()"  class="form-control" id="Select8" ng-model="Q1.H" ng-options="i for i in arr_H"  ng-init="Q1.H=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

           <a href="section3.html"><button id="next" type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#4e2026">下一道题</button></a>
      </form>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>