<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Freer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-app="myApp">
  <div ng-controller="Controller1" class="Question">
      <h3>Q3. When involved with a project with other people: </h3>
      <form>
          <div class="form-group">
          <label for="Select1">A. I have an talent for influencing people without pressurizing them</label>
          <select ng-change="change_points()" class="form-control" id="Select1" ng-model="Q1.A" ng-options="i for i in arr_A"  ng-init="Q1.A=arr[0]" ></select> 
          </div>
      
          <div class="form-group">
          <label for="Select2">B. My general carefulness prevents careless mistakes and omissions being made  </label>
          <select  ng-change="change_points()" class="form-control" id="Select2" ng-model="Q1.B" ng-options="i for i in arr_B"  ng-init="Q1.B=arr[0]">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select3">C. I am ready to press for action to make sure that the meeting does not waste time or lose
sight of the main objective  </label>
          <select ng-change="change_points()"  class="form-control" id="Select3" ng-model="Q1.C" ng-options="i for i in arr_C"  ng-init="Q1.C=arr[0]">
             <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select4">D. I can be guaranteed to contribute something original</label>
          <select ng-change="change_points()"  class="form-control" id="Select4" ng-model="Q1.D" ng-options="i for i in arr_D"  ng-init="Q1.D=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select5">E. I am always ready to support a good suggestion in the common interest  </label>
          <select ng-change="change_points()"  class="form-control" id="Select5" ng-model="Q1.E" ng-options="i for i in arr_E"  ng-init="Q1.E=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select6">F. I am keen to look for the latest in new ideas and developments </label>
          <select ng-change="change_points()"  class="form-control" id="Select6" ng-model="Q1.F" ng-options="i for i in arr_F"  ng-init="Q1.F=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select7">G. I believe that others appreciate my capacity for cool judgement. </label>
          <select ng-change="change_points()"  class="form-control" id="Select7" ng-model="Q1.G" ng-options="i for i in arr_G"  ng-init="Q1.G=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

          <div class="form-group">
          <label for="Select8">H. I can be relied upon to see that all essential work is organised.</label>
          <select ng-change="change_points()"  class="form-control" id="Select8" ng-model="Q1.H" ng-options="i for i in arr_H"  ng-init="Q1.H=arr[0]">
               <option>0</option>
            <option>1</option>
            <option>2</option>
            </select>
          </div>

           <a href="section4.html"><button id="next" type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#4e2026">下一道题</button></a>
      </form>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>